<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
       
       
       <servlet>
       		<servlet-name>login</servlet-name>
           <servlet-class>com.customer.LoginServlet</servlet-class>
       </servlet>
       
       <servlet-mapping>
       
       <servlet-name>login</servlet-name>
       <url-pattern>/loginUser</url-pattern>
       </servlet-mapping>
       
       <servlet>
       		<servlet-name>Register</servlet-name>
           <servlet-class>com.customer.registerServlet</servlet-class>
       </servlet>
       
       <servlet-mapping>
       
       <servlet-name>Register</servlet-name>
       <url-pattern>/RegisterUser</url-pattern>
       </servlet-mapping>
       
       
       <servlet>
       		<servlet-name>Update</servlet-name>
           <servlet-class>com.customer.updateServlet</servlet-class>
       </servlet>
       
       <servlet-mapping>
       
       <servlet-name>Update</servlet-name>
       <url-pattern>/updateUser</url-pattern>
       </servlet-mapping>
         
       
        
        <servlet>
       		<servlet-name>Delete</servlet-name>
           <servlet-class>com.customer.patientDeleteServlet</servlet-class>
       </servlet>
       
       <servlet-mapping>
       
       <servlet-name>Delete</servlet-name>
       <url-pattern>/deleteUser</url-pattern>
       </servlet-mapping>
       
       
       
       
       
       
       <servlet>
	<servlet-name>PharmacyReqServlet</servlet-name>
	<servlet-class>Pharmacy.PharmacyReqServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>PharmacyReqServlet</servlet-name>
	<url-pattern>/submit</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>updateFormData</servlet-name>
	<servlet-class>Pharmacy.updateFormDataServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>updateFormData</servlet-name>
	<url-pattern>/update</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>uploadPrescription</servlet-name>
	<servlet-class>Pharmacy.updatePrescriptionServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>uploadPrescription</servlet-name>
	<url-pattern>/upload</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>DeleteRequest</servlet-name>
	<servlet-class>Pharmacy.deleteRequestServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>DeleteRequest</servlet-name>
	<url-pattern>/delete</url-pattern>
</servlet-mapping>


	<servlet>
		<servlet-name>appointment</servlet-name>
		<servlet-class>customerAppointment.appointmentServlet</servlet-class>
	</servlet> 
	    
	<servlet-mapping>
		<servlet-name>appointment</servlet-name>
		<url-pattern>/appoint</url-pattern>
	</servlet-mapping>     
	
	     
	<servlet>
	<servlet-name>appointmentInsert</servlet-name>
	<servlet-class>customerAppointment.appointmentInsertServlet</servlet-class>
	</servlet>
	     
	<servlet-mapping>
		<servlet-name>appointmentInsert</servlet-name>
		<url-pattern>/insertAppoint</url-pattern>
		
		
		</servlet-mapping>     
	
	
	
	<servlet>
	<servlet-name>updateAppointment</servlet-name>
	<servlet-class>customerAppointment.updateAppointmentServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>updateAppointment</servlet-name>
		<url-pattern>/updateAppoint</url-pattern>
	</servlet-mapping> 
	
	
	<servlet>
	<servlet-name>deleteAppointment</servlet-name>
	<servlet-class>customerAppointment.deleteAppointmentServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>deleteAppointment</servlet-name>
		<url-pattern>/deleteAppoint</url-pattern>
	</servlet-mapping> 
	
	
       
         
        </web-app>
        